.green{
	background-color: #2A8E20 !important;
}

.red{
    color: #A94442;
}

.angular-google-map-container { height: 800px; }


.maplabel{

}

.dish-description{
	font-size: 20px;
	color: #000000;
	margin-bottom: 15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

input[type="number"], input[type="date"], input[type="time"]{
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.uib-time input {
    width: 100%;
}
.uib-day button, .uib-month button, .uib-year button{
    background-color: #fff;
    color: black;
    border: 2px solid grey;
}
.uib-day button:disabled, .uib-month button:disabled, .uib-year button:disabled{
    background-color: grey;
    color: white;
}
.uib-datepicker .uib-title {
   background-color: #fff;
    color: black;
    border: 1px solid grey;
}