        <!-- Top content -->
        <div class="top-content">
        	
            <!-- Apply background -->
            <div class="inner-bg">

                <!-- page content -->
                <div class="container">

                    <!-- title -->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1 class='green'><strong>Feed Me</strong></h1>
                        </div>
                    </div>

                    <!-- box -->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                            <!-- top of form -->
                            <div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Create an account</h3>
                        		</div>
                            </div>


                            <!-- FORM -->
                            <div class="form-bottom">
			                    <form name="createForm" ng-submit="submitForm(createForm.$valid)" novalidate>

                                    
                                    <!-- FIRSTNAME -->
                                    <div class="form-group">
                                        <input type="text" name="firstname" placeholder="First Name..." class="form-control" ng-model="firstname">
                                    </div>

                                    <!-- LASTNAME -->
                                    <div class="form-group">
                                        <input type="text" name="lastname" placeholder="Last Name..." class="form-control" ng-model="lastname">
                                    </div>

                                    <!-- USERNAME -->
			                    	<div class="form-group" ng-class="{ 'has-error' : createForm.username.$invalid && createForm.username.$touched }">
			                        	<input type="text" name="username" placeholder="Username..." class="form-control" ng-model="username" required>
                                        <div ng-messages="createForm.username.$error" ng-show="createForm.username.$touched">
                                            <p class="help-block" ng-message="required">A username is required.</p>
                                        </div>
			                        </div>

                                    <!-- EMAIL -->
                                    <div class="form-group" ng-class="{ 'has-error' : createForm.email.$invalid  && createForm.email.$touched }">
                                        <input type="text" name="email" placeholder="Email..." class="form-control" ng-model="email" required>
                                        <div ng-messages="createForm.email.$error" ng-show="createForm.email.$touched">
                                            <p class="help-block" ng-message="invalid">Please enter a valid email</p>
                                            <p class="help-block" ng-message="required">An email is required.</p>
                                        </div>
                                    </div>

                                    <!-- PASSWORD -->
			                        <div class="form-group" ng-class="{ 'has-error' : createForm.password.$invalid && createForm.password.$touched }">
			                        	<input type="password" name="password" placeholder="Password..." class="form-control" ng-model="password" id="form-password" ng-minlength="5" required>
                                        <div ng-messages="createForm.password.$error" ng-show="createForm.password.$touched">
                                            <p class="help-block" ng-message="minlength">The password must have at least 5 characters.</p>
                                            <p class="help-block" ng-message="required">A password is required.</p>
                                        </div>
			                        </div>

                                    <!-- VALIDATION -->
			                        <button type="submit" class="btn" >Create!</button>
			                    

                                </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...or create with:</h3>
                        	<div class="social-login-buttons">
	                        	<!--<a class="btn btn-link-2" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a> -->
	                        	<a class="btn btn-link-2" href="#">
	                        		<i class="fa fa-google-plus"></i>Google Plus
	                        	</a>
                        	</div>
                                <a class="btn btn-link-2" href="#/">
                                    Sign in
                                </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>