        <!-- Top content -->
        <div class="top-content">
        	
            <!-- Apply background -->
            <div class="inner-bg">

                <!-- page content -->
                <div class="container">

                    <!-- title -->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1 class='green'><strong>Feed Me</strong></h1>
                        </div>
                    </div>

                    <!-- box -->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                            <!-- top of form -->
                            <div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Créez un compte</h3>
                        		</div>
                            </div>


                            <!-- FORM -->
                            <div class="form-bottom">
			                    <form name="createForm" ng-submit="submitCreateAccount(createForm.$valid)" novalidate>

                                    
                                    <!-- FIRSTNAME -->
                                    <div class="form-group">
                                        <input type="text" name="firstname" placeholder="Prénom..." class="form-control" ng-model="user.Firstname">
                                    </div>

                                    <!-- LASTNAME -->
                                    <div class="form-group">
                                        <input type="text" name="lastname" placeholder="Nom..." class="form-control" ng-model="user.Lastname">
                                    </div>

                                    <!-- USERNAME -->
			                    	<div class="form-group" ng-class="{ 'has-error' : createForm.username.$invalid && createForm.username.$touched }">
			                        	<input type="text" name="username" placeholder="Nom d'utilisateur..." class="form-control" ng-model="user.Username" required>
                                        <div ng-messages="createForm.username.$error" ng-show="createForm.username.$touched">
                                            <p class="help-block" ng-message="required">Veuillez entrer un nom d'utilisateur</p>
                                        </div>
			                        </div>

                                    <!-- PHONE -->
                                    <div class="form-group">
                                        <input type="text" name="phone" placeholder="Telephone..." class="form-control" ng-model="user.PhoneNumber">
                                    </div>

                                    <!-- Road -->
                                    <div class="form-group">
                                        <input type="text" name="road" placeholder="Addresse..." class="form-control" ng-model="user.Address.Road">
                                    </div>

                                    <!-- ZIP CODE -->
                                    <div class="form-group">
                                        <input type="text" name="postalcode" placeholder="Code Postal..." class="form-control" ng-model="user.Address.PostalCode">
                                    </div>

                                    <!-- COUNTRY -->
                                    <div class="form-group">
                                        <input type="text" name="country" placeholder="Pays..." class="form-control" ng-model="user.Address.Country">
                                    </div>

                                    <!-- EMAIL -->
                                    <div class="form-group" ng-class="{ 'has-error' : createForm.email.$invalid  && createForm.email.$touched }">
                                        <input type="text" name="email" placeholder="Email..." class="form-control" ng-model="user.Email" required>
                                        <div ng-messages="createForm.email.$error" ng-show="createForm.email.$touched">
                                            <p class="help-block" ng-message="invalid">Veuillez entrer un email valide</p>
                                            <p class="help-block" ng-message="required">Veuillez entrer un email</p>
                                        </div>
                                    </div>

                                    <!-- PASSWORD -->
			                        <div class="form-group" ng-class="{ 'has-error' : createForm.password.$invalid && createForm.password.$touched }">
			                        	<input type="password" name="password" placeholder="Mot de Passe..." class="form-control" ng-model="user.Password" id="form-password" ng-minlength="5" required>
                                        <div ng-messages="createForm.password.$error" ng-show="createForm.password.$touched">
                                            <p class="help-block" ng-message="minlength">Votre mot de passe doit faire au moins 5 charactères</p>
                                            <p class="help-block" ng-message="required">Veuillez définir un mot de passe</p>
                                        </div>
			                        </div>

                                    <!-- VALID PASSWORD -->
                                    <div class="form-group" ng-class="{ 'has-error' : createForm.passwordvalidator.$invalid && createForm.passwordvalidator.$touched }">
                                        <input type="password" name="passwordvalidator" placeholder="Confirmez votre mot de Passe..." class="form-control" ng-model="user.ConfirmPassword" id="form-passwordvalidator" ng-minlength="5" required>
                                        <div ng-messages="createForm.passwordvalidator.$error" ng-show="createForm.passwordvalidator.$touched">
                                            <p class="help-block" ng-message="minlength">Votre mot de passe doit faire au moins 5 charactères</p>
                                            <p class="help-block" ng-message="required">Veuillez définir un mot de passe</p>
                                        </div>
                                    </div>

                                    <!-- VALIDATION -->
			                        <button type="submit" class="btn" >Valider</button>
			                    

                                </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...ou:</h3>
                        	<div class="social-login-buttons">
	                        	<!--<a class="btn btn-link-2" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a> -->
                                <a class="btn btn-link-2" href="#/">
                                    Se connecter
                                </a>
	                        	<!-- <a class="btn btn-link-2" href="#">
	                        		<i class="fa fa-google-plus"></i>Utilisez Google Plus
	                        	</a> -->
                        	</div>
                                
                        </div>
                    </div>
                </div>
            </div>
            
        </div>