        <!-- Top content -->
        <div class="top-content">
        	
            <!-- Apply background -->
            <div class="inner-bg">

                <!-- page content -->
                <div class="container">
                    <form name="dishForm" ng-submit="submitForm(dishForm.$valid)" novalidate>
                        <!-- button -->
                        <div class="row">
                            <div class="col-sm-4">
                                <input name="photo" type="file" id="photo" file-model="fileToUpload" />
                            </div>
                            <div class="col-sm-8">

                                <!-- DISH NAME -->
                                <div class="form-group" ng-class="{ 'has-error' : dishForm.name.$invalid && dishForm.name.$touched }">
                                    <input type="text" name="name" placeholder="Nom" class="form-control" ng-model="dish.name" required>
                                    <div ng-messages="dishForm.name.$error" ng-show="dishForm.name.$touched">
                                        <p class="help-block" ng-message="required">Veuillez donner un nom à votre plat</p>
                                    </div>
                                </div>

                                <!-- DISH DESCRIPTION -->
                                <div class="form-group" ng-class="{ 'has-error' : dishForm.description.$invalid && dishForm.description.$touched }">
                                    <input type="text" name="description" placeholder="Description" class="form-control" ng-model="dish.description" required>
                                    <div ng-messages="dishForm.description.$error" ng-show="dishForm.description.$touched">
                                        <p class="help-block" ng-message="required">Decrivez votre plat</p>
                                    </div>
                                </div>

                                <!-- DISH PRICE -->
                                <div class="form-group" ng-class="{ 'has-error' : dishForm.price.$invalid && dishForm.price.$touched }">
                                    <input type="number" name="price" placeholder="Prix par part" class="form-control" ng-model="dish.price" required>
                                    <div ng-messages="dishForm.price.$error" ng-show="dishForm.price.$touched">
                                        <p class="help-block" ng-message="required">Donnez un prix par part à votre plat</p>
                                    </div>
                                </div>

                                <!-- DISH NB PIECE -->
                                <div class="form-group" ng-class="{ 'has-error' : dishForm.nbPiece.$invalid && dishForm.nbPiece.$touched }">
                                    <input type="number" name="nbPiece" placeholder="Nombre de parts" class="form-control" ng-model="dish.nbPiece" required>
                                    <div ng-messages="dishForm.nbPiece.$error" ng-show="dishForm.nbPiece.$touched">
                                        <p class="help-block" ng-message="required">Combien de part mettez vous en vente</p>
                                    </div>
                                </div>

                                <!-- DISH SIZE PIECE -->
                                <div class="form-group" ng-class="{ 'has-error' : dishForm.sizePiece.$invalid && dishForm.sizePiece.$touched }">
                                    <input type="number" name="sizePiece" placeholder="Taille d'une part" class="form-control" ng-model="dish.sizePiece" required>
                                    <div ng-messages="dishForm.sizePiece.$error" ng-show="dishForm.sizePiece.$touched">
                                        <p class="help-block" ng-message="required">Donnez la quantité d'une part de votre plat</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                            </div>
                        </div>                    
                    </form>
                </div>
            </div>
            
        </div>