<!-- Top content -->
<div class="top-content">
	
    <!-- Apply background -->
    <div class="inner-bg">

        <!-- page content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1 class='green'><strong>Feed Me</strong></h1>
                </div>
            </div>
            <!-- box -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                	
                    <!-- top of form -->
                    <div class="form-top">
                		<div class="form-top-left">
                			<h3>Gérez votre compte</h3>
                		</div>
                    </div>
                     <!-- FORM -->
                    <div class="form-bottom">
	                    <form name="updateForm" ng-submit="submitChangePassword(updateForm.$valid)" novalidate>

                            
                            <!-- FIRSTNAME -->
                            <div class="form-group">
                                <input type="text" name="firstname" placeholder="Prénom..." disabled class="form-control" ng-model="user.Firstname">
                            </div>

                            <!-- LASTNAME -->
                            <div class="form-group">
                                <input type="text" name="lastname" placeholder="Nom..." disabled class="form-control" ng-model="user.Lastname">
                            </div>

                            <!-- USERNAME -->
	                    	<div class="form-group" ng-class="{ 'has-error' : updateForm.username.$invalid && updateForm.username.$touched }">
	                        	<input type="text" name="username" placeholder="Nom d'utilisateur..." disabled class="form-control" ng-model="user.UserName" required>
                                <div ng-messages="updateForm.username.$error" ng-show="updateForm.username.$touched">
                                    <p class="help-block" ng-message="required">Veuillez entrer un nom d'utilisateur</p>
                                </div>
	                        </div>

                            <!-- PHONE -->
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Telephone..." disabled class="form-control" ng-model="user.PhoneNumber">
                            </div>

                            <!-- Road -->
                            <div class="form-group">
                                <input type="text" name="road" placeholder="Addresse..." disabled class="form-control" ng-model="user.Address.Road">
                            </div>

                            <!-- ZIP CODE -->
                            <div class="form-group">
                                <input type="text" name="postalcode" placeholder="Code Postal..." disabled class="form-control" ng-model="user.Address.PostalCode">
                            </div>

                            <!-- COUNTRY -->
                            <div class="form-group">
                                <input type="text" name="country" placeholder="Pays..." class="form-control" disabled ng-model="user.Address.Country">
                            </div>

                            <!-- EMAIL -->
                            <div class="form-group" ng-class="{ 'has-error' : updateForm.email.$invalid  && updateForm.email.$touched }">
                                <input type="text" name="email" placeholder="Email..." disabled class="form-control" ng-model="user.Email" required>
                                <div ng-messages="updateForm.email.$error" ng-show="updateForm.email.$touched">
                                    <p class="help-block" ng-message="invalid">Veuillez entrer un email valide</p>
                                    <p class="help-block" ng-message="required">Veuillez entrer un email</p>
                                </div>
                            </div>


                            <!-- OLD PASSWORD -->
	                        <div class="form-group" ng-class="{ 'has-error' : updateForm.password.$invalid && updateForm.password.$touched }">
	                        	<input type="password" name="oldpassword" placeholder="Ancien Mot de Passe..." class="form-control" ng-model="user.OldPassword" id="form-password" ng-minlength="5" required>
                                <div ng-messages="updateForm.password.$error" ng-show="updateForm.password.$touched">
                                    <p class="help-block" ng-message="minlength">Votre mot de passe doit faire au moins 5 charactères</p>
                                    <p class="help-block" ng-message="required">Veuillez entrer votre ancien mot de passe</p>
                                </div>
	                        </div>

                            <!-- PASSWORD -->
	                        <div class="form-group" ng-class="{ 'has-error' : updateForm.password.$invalid && updateForm.password.$touched }">
	                        	<input type="password" name="password" placeholder="Mot de Passe..." class="form-control" ng-model="user.Password" id="form-password" ng-minlength="5" required>
                                <div ng-messages="updateForm.password.$error" ng-show="updateForm.password.$touched">
                                    <p class="help-block" ng-message="minlength">Votre mot de passe doit faire au moins 5 charactères</p>
                                    <p class="help-block" ng-message="required">Veuillez définir un mot de passe</p>
                                </div>
	                        </div>

                            <!-- VALID PASSWORD -->
                            <div class="form-group" ng-class="{ 'has-error' : updateForm.passwordvalidator.$invalid && updateForm.passwordvalidator.$touched }">
                                <input type="password" name="passwordvalidator" placeholder="Confirmez votre mot de Passe..." class="form-control" ng-model="user.ConfirmPassword" id="form-passwordvalidator" ng-minlength="5" required>
                                <div ng-messages="updateForm.passwordvalidator.$error" ng-show="updateForm.passwordvalidator.$touched">
                                    <p class="help-block" ng-message="minlength">Votre mot de passe doit faire au moins 5 charactères</p>
                                    <p class="help-block" ng-message="required">Veuillez définir un mot de passe</p>
                                </div>
                            </div>

                            <!-- VALIDATION -->
	                        <button type="submit" class="btn" >Valider</button>
	                    

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>