<!-- Top content -->
<div class="top-content">
	
    <!-- Apply background -->
    <div class="inner-bg">

        <!-- page content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1 class='green'><strong>Feed Me</strong></h1>
                </div>
            </div>
            <!-- box -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                	
                    <!-- top of form -->
                    <div class="form-top">
                		<div class="form-top-left"">
                			<h3>Manage your account</h3>
                		</div>
                    </div>

                    <!-- FIRSTNAME -->
                            <div class="form-left" id="top-form">
                                <p>First name : {{ user.Firstname }}</p>
                            </div>

                            <!-- LASTNAME -->
                            <div class="form-left">
                                <p>Last name : {{ user.Lastname }}</p>
                            </div>

                            <!-- USERNAME -->
                            <div class="form-left">
                                <p>User name : {{ user.UserName }}</p>
                            </div>

                            <!-- PHONE -->
                            <div class="form-left">
                                <p>Phone number : {{ user.PhoneNumber }}</p>
                            </div>

                            <!-- EMAIL -->
                            <div class="form-left">
                                <p>Email : {{ user.Email }}</p>
                            </div>

                            <!-- Road -->
                            <div class="form-left" id="address">
                                <h4>Address</h4>
                                
                                <p>Road : {{ user.Address.Road }}</p>
                           
                            <!-- ZIP CODE -->
                                <p>Postal Code : {{ user.Address.PostalCode }}</p>
                          

                            <!-- COUNTRY -->
                                <p>Country : {{ user.Address.Country }}</p>
                            </div>

                            <div class="form-left" id="sentence">
                                <p>Change your password :</p>
                            </div>

                     <!-- FORM -->
                    <div class="form-bottom">
	                    <form name="updateForm" ng-submit="submitChangePassword(updateForm.$valid)" novalidate>

                            <!-- OLD PASSWORD -->
	                        <div class="form-group" ng-class="{ 'has-error' : updateForm.password.$invalid && updateForm.password.$touched }">
	                        	<input type="password" name="oldpassword" placeholder="Old password" class="form-control" ng-model="user.OldPassword" id="form-password" ng-minlength="5" required>
                                <div ng-messages="updateForm.password.$error" ng-show="updateForm.password.$touched">
                                    <p class="help-block" ng-message="minlength">Your password must be at least 5 characters long.</p>
                                    <p class="help-block" ng-message="required">Please enter your old password.</p>
                                </div>
	                        </div>

                            <!-- PASSWORD -->
	                        <div class="form-group" ng-class="{ 'has-error' : updateForm.password.$invalid && updateForm.password.$touched }">
	                        	<input type="password" name="password" placeholder="New password" class="form-control" ng-model="user.Password" id="form-password" ng-minlength="5" required>
                                <div ng-messages="updateForm.password.$error" ng-show="updateForm.password.$touched">
                                    <p class="help-block" ng-message="minlength">Your password must be at least 5 characters long.</p>
                                    <p class="help-block" ng-message="required">Please enter your new password.</p>
                                </div>
	                        </div>

                            <!-- VALID PASSWORD -->
                            <div class="form-group" ng-class="{ 'has-error' : updateForm.passwordvalidator.$invalid && updateForm.passwordvalidator.$touched }">
                                <input type="password" name="passwordvalidator" placeholder="Confirm password" class="form-control" ng-model="user.ConfirmPassword" id="form-passwordvalidator" ng-minlength="5" required>
                                <div ng-messages="updateForm.passwordvalidator.$error" ng-show="updateForm.passwordvalidator.$touched">
                                    <p class="help-block" ng-message="minlength">Your password must be at least 5 characters long.</p>
                                    <p class="help-block" ng-message="required">Please confirm your new password.</p>
                                </div>
                            </div>

                            <!-- VALIDATION -->
	                        <button type="submit" class="btn" >Submit</button>
	                    

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>