<div class="container">
	<h2>Historique</h2>
	<div class="col-sm-12">
		<h3>Achat</h3>
		<table class="table table-bordered table-striped">

			<thead>
				<tr>
					<td>
						Statut
					</td>
					<td>
						Nom du plat
					</td>
					<td>
						Date de création
					</td>
					<td>

					</td>
				</tr>
			</thead>

			<tbody>
			<tr ng-repeat="model in buyList track by model.OrderId">
					<td>{{ model.Statut }}</td>
					<td><a href="#/detaildish/{{model.DishId}}">{{ model.Dish.Name }}</a></td>
					<td>{{ model.DateCreate }}</td>
					<td>
						<button ng-show="model.Statut == 'In progress' || model.Statut == 'Accept'">Cancel</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
	<div class="col-sm-12">
		<h3>Vente</h3>
		<table class="table table-bordered table-striped">

			<thead>
				<tr>
					<td>
						Statut
					</td>
					<td>
						Nom du plat
					</td>
					<td>
						Date de création
					</td>
					<td>

					</td>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="model in buyList track by model.OrderId">
					<td>{{ model.Statut }}</td>
					<td><a href="#/detaildish/{{model.DishId}}">{{ model.Dish.Name }}</a></td>
					<td>{{ model.Dish.DateCreate }}</td>
					<td>
						<button ng-show="model.Statut == 'In progress'">Accept</button>
						<button ng-show="model.Statut == 'In progress'">Refuse</button>
						<button ng-show="model.Statut == 'Accept'">Cancel</button>
						<button ng-show="model.Statut == 'Accept'">Done</button>
					</td>
				</tr>
			</tbody>

		</table>

	</div>
	

