<div class="container">
	<h2>Historique</h2>
	<div class="col-sm-12">
		<h3>Achat</h3>
		<div ng-repeat="model in buyAccept track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Accepté</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
		<div ng-repeat="model in buyDone track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Terminé</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
		<div ng-repeat="model in buyRefuse track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Refusé</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
		<div ng-repeat="model in buyCancel track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Annulé</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
	</div>
	<div class="col-sm-12">
		<h3>Vente</h3>
		<div ng-repeat="model in sellAccept track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Accepté</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
 		<div ng-repeat="model in sellDone track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Terminé</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
		<div ng-repeat="model in sellRefuse track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Refusé</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
		<div ng-repeat="model in sellCancel track by model.OrderId" class="col-sm-12">
			<span class="col-sm-6">Annulé</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Dish.Name}}</span></a>
		</div>
		<div ng-repeat="model in sellFinish track by model.DishId" class="col-sm-12">
			<span class="col-sm-6">Expiré</span>
			<a href="#/detaildish/{{model.DishId}}"><span class="col-sm-6">{{model.Name}}</span></a>
		</div> 
	</div>
	
</div>
