        <!-- Top content -->
        <div class="top-content">
        	
            <!-- Apply background -->
            <div class="inner-bg">

                <!-- page content -->
                <div class="container">

                    <!-- title -->
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1 class='green'><strong>Feed Me</strong></h1>
                        </div>
                    </div>

                    <!-- box -->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                            <!-- top of form -->
                            <div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                            		<p>Enter your username and password to log on:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>


                            <!-- FORM -->
                            <div class="form-bottom">
			                    <form name="loginForm" ng-submit="submit(loginForm.$valid)">

                                    
                                    <!-- USERNAME -->
			                    	<div class="form-group" ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.username.$touched }">
			                        	<input type="text" name="username" placeholder="Username..." class="form-control" ng-model="user.username" required>
                                        <div ng-messages="loginForm.username.$error" ng-show="loginForm.username.$touched">
                                            <p class="help-block" ng-message="required">Your username is required.</p>
                                        </div>
			                        </div>

                                    <!-- PASSWORD -->
			                        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.password.$touched }">
			                        	<input type="password" name="password" placeholder="Password..." class="form-control" ng-model="user.password"required>
                                        <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$touched">
                                            <p class="help-block" ng-message="required">Your password is required.</p>
                                        </div>
			                        </div>

                                    <!-- VALIDATION -->
			                        <button type="submit" class="btn" >Sign in!</button>

                                </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...or login with:</h3>
                        	<div class="social-login-buttons">
	                            <a class="btn btn-link-2" href="#/createaccount">
	                        		Create an account
	                        	</a>
	                        	<!-- <a class="btn btn-link-2" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a> -->
	                        	<a class="btn btn-link-2" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>