        <!-- Top content -->
        <div class="top-content">
        	
            <!-- Apply background -->
            <div class="inner-bg">

                <!-- page content -->
                <div class="container">

                    <!-- button -->
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-10">
                            <a class="btn btn-success" href="#/createdish" role="button">Create a listing</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-10">
                            <a class="btn btn-info" href="" ng-click="getLocation()" role="button">Center the map</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <h2>Choose a dish near you :</h2>
                        </div>
                    </div>

                    <div class="row">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                                <ui-gmap-window coords="selectedCoords" show="windowShow" closeClick="closeClick()">
                                    <div style="padding: 20px;text-align: center">
                                        <p>{{selectedDish.Name}}</p>
                                        <p>{{selectedDish.Price}} €</p>
                                        <p>{{selectedDish.NbPart}} servings</p>
                                        <p><a href="/#/detaildish/{{selectedDish.DishId}}">See details</a></p>
                                    </div>
                                </ui-gmap-window>
                                <ui-gmap-marker idKey='0' options='selfMarker.options' coords='selfMarker.coords'></ui-gmap-marker>
                                <ui-gmap-markers models="listMarkers" click="'onClick'" coords="'coords'" icon="'icon'" options="'options'">
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
