        <!-- Top content -->
        <div class="top-content">
        	
            <!-- Apply background -->
            <div class="inner-bg">

                <!-- page content -->
                <div class="container">

                    <!-- button -->
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-10">
                            <a class="btn btn-success" href="#/createdish" role="button">Créez une offre</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="text-center">
                            <h2>Choisissez un plat près de chez vous :</h2>
                        </div>
                    </div>

                    <div class="row">
                            <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
                                <ui-gmap-markers models="listMarkers" click="'clickMarker'" coords="'self'" icon="'icon'" options="'options'">
                                </ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                    {{listMarkers}}
                </div>
            </div>
        </div>
